*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

h1{
    font-size: 50px;
}

ul{
    display: flex;
}

li{
    font-size: 20px;
    padding: 10px 50px;
}

ul li button{
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background:  linear-gradient(#e66465, #9198e5);
}

section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2{
    padding: 50px;
    border-radius: 20px;
    font-size: 80px;
    background:  linear-gradient(#e66465, #9198e5);
}