*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: rgb(29, 29, 29);
}

.container{
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 0 auto;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.chat{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: relative;
}


.chat-reverse{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}


.img-div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

img{
    width: 100%;
    object-fit: cover;
}

.message{
    background-color: #0051ff;
    width: 700px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.message::after{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 40px 100%;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #0051ff;
}

.reverse{
    background-color: #ae00ff;
    width: 700px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.reverse::after{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    right: 0px;
    left: -17px;
    width: 0;
    height: 0;
    margin: 40px 100% auto 0;
    border-style: solid;
    border-width: 10px 17.3px 10px 0;
    border-color: transparent #ae00ff transparent transparent;
}

.user{
    margin-bottom: 10px;
}

.message-received{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px 5%;
    opacity: 0;
    transition: all 0.3s;
}


.message-received-reverse{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px 90%;
    opacity: 0;
    transition: all 0.3s;
}

.message:hover .message-received{
    transform: translateY(40px);
    opacity: 1;
    color: rgba(255, 255, 255, 0.233);
}

.reverse:hover .message-received-reverse{
    transform: translateY(40px);
    opacity: 1;
    color: rgba(255, 255, 255, 0.233);
}

